{% extends 'base.html' %}
{% block content %}

<h1>Delete Stock</h1>
{% if ticker %}
    {% for item in ticker %}
<h4>{{ item }}:  </h4>
        <form action="{% url 'delete' item.id %}" class="form-inline my-2 my-lg-0" method="POST">
                 {% csrf_token %}
                <input class="form-control mr-sm-2" type="number" placeholder="Quantity" aria-label="Number" name="quantity">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sell Stock</button>
            </form>
        <br/>
    {% endfor %}
{% else %}
    You don't have any stocks...
{% endif %}
<a href="{% url 'reset_portfolio' %}">Reset Portfolio</a>
{% endblock %}