{% extends 'base.html' %}
{% block content %}

<h1>Yesterday's Close: ${{yesterdaysClose}}</h1>
<h3>Remaining Balance: ${{balance}}</h3>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['5D AGO', '4D AGO', '3D AGO', '2D AGO', '1D AGO'],
        datasets: [
        {%for list_item in output %}
            { {% for mykey,myvalue in list_item.items %}
            label: '{{mykey}}',
            data: {{myvalue}},
            borderColor: [
                '#'+Math.floor(Math.random()*16777215).toString(16),
            ],
            borderWidth: 4,
            pointBorderColor: 'white',
            pointBorderWidth: 6,
            pointRadius: 3,
            fill: false,
            {% endfor %}
        },
        {%endfor%}
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>

{% endblock %}