{% extends 'base.html' %}
{% block content %}

<h1>Transactions</h1>
{% if transactions %}
            {% for transaction in transactions %}
                <div class="alert alert-warning
                     alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ transaction.transaction }}
                </div>
            {% endfor %}
        {% endif %}
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['5D AGO', '4D AGO', '3D AGO', '2D AGO', '1D AGO'],
        datasets: [
        {
            label: 'Portfolio Value',
            data: {{portfolioValueData}},
            borderColor: [
                '#'+Math.floor(Math.random()*16777215).toString(16),
            ],
            borderWidth: 5,
            pointBorderColor: '#aaaaaa',
            pointBorderWidth: 8,
            pointRadius: 4,
            fill: false,
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
